* {
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(253, 251, 251);
    color: black;
    border: "0";
   
}

#cabecalho {
    position: absolute;
    z-index: 10;
    margin-left: 150px;
    margin-top: 100px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-shadow: 0 0 5px #00ff00;
    top: 0;
   

}

#fotos {
    display: flex;
    justify-content: center;
   
}

.circuitosImg {
    width: 100vw;
    height: 300px;
    position: relative;
    
    
    

}

#minha_foto {
    border-radius: 50%;
    position: absolute;
    height: 280px;
    margin-top: 10px;
}

#divLinks nav{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content:space-evenly;
    
    
    


}

p {
    color: black;
 
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 10px;
}

.links :hover {
    opacity: 70%;
}